<a href="https://colab.research.google.com/github/HHansi/Machine-Learning-CPD-Course/blob/main/Activities/Clustering_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem

**What categories can be recognised from electricity charges?**

1.   Load tariff.csv into a DataFrame.
2.   Clean and visualise data using appropriate techniques.
3.   Recognise optimum clusters of electricity charges using K-means algorithm.
4.   Analyse the properties of each cluster and name the clusters.
5.   Report your findings.

## Description of the Data Set
tariff.csv data set consists of 6 columns describing the energy consumption by different houses. 


*   homeid - unique id assigned to each home
*   notification_date - date of notification
*   provenancedetail - provenance tag/name
*   energytype	- type of energy
*   daily_standing_charge_pence
*   unit_charge_pence_per_kwh


(This data set is taken from [IDEAL Household Energy Dataset](https://datashare.ed.ac.uk/handle/10283/3647).)

# Libraries

In [ ]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans

# Load Data

In [ ]:
# Load the data set
df = pd.read_csv("https://raw.githubusercontent.com/HHansi/Machine-Learning-CPD-Course/main/Data/tariff.csv")
df.head(5)

   homeid  ... unit_charge_pence_per_kwh
0     167  ...                       NaN
1      62  ...                       NaN
2      62  ...                       NaN
3      61  ...                      0.12
4      61  ...                      0.33

[5 rows x 6 columns]

In [ ]:
# write your code

# Data Cleaning

In [ ]:
# write your code

# EDA

In [ ]:
# write your code

# K-means clustering

In [ ]:
# write your code