<a href="https://colab.research.google.com/github/HHansi/Machine-Learning-CPD-Course/blob/main/Activities/Linear_Regression_Problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem

**Can we predict the floor area of a house based on its appliances using a simple linear regression model?**

1.   Load home_appliance.csv into a DataFrame.
2.   Clean and visualise data using appropriate techniques.
3.   Recognise the best features to train a simple linear regression model.
4.   Build model(s) and evaluate their performance.
5.   Report your findings.

## Description of the Data Set


home_appliance.csv data set consists of 6 columns describing the appliances in each house.

*   homeid - unique id assigned to each home
*   food - number of food appliances
*   water - number of water appliances
*   heating - number of heating appliances
*   other - number of other appliances
*   floorarea - total floor area of the home covering all rooms


(This data set is taken from [IDEAL Household Energy Dataset](https://datashare.ed.ac.uk/handle/10283/3647).)

# Libraries

In [ ]:
# Import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define random state
random_state = 1234

# Load Data

In [ ]:
# Load the data set
df = pd.read_csv("https://raw.githubusercontent.com/HHansi/Machine-Learning-CPD-Course/main/Data/home_appliance.csv")
df.head(5)

   homeid  food  water  heating  other  floorarea
0      47     9      5        0      0      427.0
1      55    11      2        0      0        NaN
2      59    10      0        0      0      760.0
3      61     9      6        1      1      685.0
4      62    15      5        0      1      815.0

In [ ]:
# write your code

# Data Cleaning

In [ ]:
# write your code

# EDA

In [ ]:
# write your code

# Linear Regression

In [ ]:
# write your code